@import '../app.component.scss';

.footer-lista {
  background-color: #fff;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000088;
//   margin-top: 3rem;
  border-top: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  box-sizing: border-box;

  .footer-texto {
    margin: 0;
    font-weight: 700;
    // font-size: 1.5rem;
    // line-height: 1.5rem;
  }

  // @include fromMediumLarge{
  //   height: 8rem;
  //   font-size: 2rem;
  // }
}
